@model PlaneLog.Models.Flight

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plane.TailNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plane.TailNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HobbsOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HobbsOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HobbsIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HobbsIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelPurchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelPurchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelCostGallon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelCostGallon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelCostTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelCostTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
