@model IEnumerable<PlaneLog.Models.Flight>

@{
    ViewBag.Title = "Index";
}

<h2>Flights</h2>

<p>
    @Html.ActionLink("Create New", "Create") 
</p>
<div>
        <div class="form-group">
            @Html.Label( "Plane", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("planeId", new SelectList(ViewBag.TailNumbers, "Key", "Value"),
                 new { @onchange="CallChangeFunc(this.value)"})
            </div>
        </div>
    </div>
    @*  new stuff here*@
  <script>
    function CallChangeFunc(val)
    {
        window.location.href = "/flights/?planeId=" + val;
    }
  
</script>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plane.TailNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HobbsOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HobbsIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelPurchased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelCostGD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelCostTD)
        </th>
        <th class="remarks">
            @Html.DisplayNameFor(model => model.RemarksTrunc)
        </th>
        <th></th>
    </tr>
   

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plane.TailNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HobbsOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HobbsIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelPurchased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelCostGD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelCostTD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemarksTrunc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
