@model IEnumerable<PlaneLog.Models.Flight>

@{
    ViewBag.Title = "Report";
}

<h2>Reports</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plane.TailNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FltDate)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.HobbsIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursFlown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelUseHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelCostGallon) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelCostTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedOil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OilChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plane.TailNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FltDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.HobbsIForm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursFlown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelUseHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelCostGallon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelCostTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedOil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OilChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })          
        </td>
    </tr>
}

</table>
