@model IEnumerable<PlaneLog.Models.Flight>

@{
    ViewBag.Title = "Report";
}

<h2>Reports</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    <div class="form-group">
        @Html.Label("Plane", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("planeId", new SelectList(ViewBag.TailNumbers, "Key", "Value"),
             new { @onchange = "CallChangeFunc(this.value)" })
        </div>
    </div>
</div>
@*  new stuff here*@
<script>
    function CallChangeFunc(val) {
        window.location.href = "/flights/report/?planeId=" + val;
    }

</script>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plane.TailNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FltDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HobbsIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursFlown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelPerHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelCostGallon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelCostTD)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.OilTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.RemarksTrunc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plane.TailNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FltDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HobbsIForm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursFlown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelUsage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelPerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelCostGallon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelCostTD)
            </td>
            <th class="@ViewBag.OilStatus">                
                    @Html.DisplayFor(model => item.OilTime)                
            </th>

            <td>
                @Html.DisplayFor(modelItem => item.RemarksTrunc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
