@model PlaneLog.Models.Plane

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TailNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TailNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearManufactured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearManufactured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineManufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineManufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursLastAnnual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursLastAnnual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastOilChangeHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastOilChangeHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationExpirationDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
