@model IEnumerable<PlaneLog.Models.Plane>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TailNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearManufactured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineManufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursLastAnnual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastOilChangeHours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TailNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearManufactured)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineManufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnualDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursLastAnnual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastOilChangeHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
